.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.subtitle {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  margin-top: 20px;
}

.superPowersContainer {
  display: flex;
  gap: 10px;
}

.layout {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background: #004980;
  opacity: 60%;
  position: fixed;
  z-index: 1;
}

.wrapper {
  z-index: 2;
  position: relative;
}

.wrapper:hover + .layout {
  display: block;
}

.wrapper:hover .bubble {
  display: block;
}

.superPowerImg {
  width: 68px;
}

.disabledEpiphany {
  width: 68px;
  pointer-events: none;
  opacity: 40%;
}

.bubble {
  position: absolute;
  padding: 30px;
  text-align: center;
  top: 90px;
  left: -115%;
  display: none;
  background: #C2F5FF;
  border-radius: 12px;
}

.title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  color: #004980;
  padding-bottom: 10px;
}

.description {
  width: 182px;
  height: 144px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #004980;
}
